[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
beautifulsoup4 = "*"
httpx = {extras = ["http2"], version = "*"}

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.13"
